.container {
    width: 100%;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
}